
div {
  text-align: center; 
  font-family: "Helvetica", Arial, Sans-serif; 
}

html, body {height: 100%;}

h1 {
  color: #55ACEE; font-size: 48px; 
  margin: 35px;
}

h2 {
  color: #66757f;
}

table {
  border-collapse: collapse;
  min-width: 300px;
}

table, th, td {
  border: 1px solid #55ACEE;
}

td, th {
  text-align: left;
  padding: 4px;
}

th {
  background-color: #55ACEE;
  color: white;
}

td {
  background-color: #F5F8FA;
  color: #292F33;  
}

div.thq {
  color: #00CC33;
}

div.neg {
  color: red;
}

table {
  margin: 0 auto;
}

.blue {
  color: black;
}

a:visited.blue {
  color: black;
}

#navi {
  color: black;
  font-size: 12px;
  margin: 10px;
}

#result {
  min-height: 90px;
  font-size: 90px;  
}

#error {
  color: red;
  font-size: 48px;
}

#wrap {
  min-height: 100%;
}

#content {
  overflow: auto;
  padding-bottom: 150px;
}

#image {
  margin: 75px; 
  height: 150;
}

#small-image {
  margin: 50px; 
  height: 100px;
}

#tweet {
  height: 40px;
}

#login {
  margin: 20px;
  height: 20px;
}

#text {
  font-size: 14px;
  margin: 20px;
}

#pre {
  font-size: 12px;
}

#footer {
  font-color: black;
  font-size: 12px;
  height: 150px;
  background-image: url('clouds.png');
  position: relative;
  margin-top: -150px; 
  clear: both;
}




